{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#3f2b96,#a8c0ff);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:white;
    padding:30px;
    width:300px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.3);
}

#display{
    font-size:40px;
    margin:20px 0;
}

.buttons button{
    padding:10px 15px;
    margin:5px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
}

.buttons button:hover{
    background:#3f2b96;
    color:white;
}

#laps{
    margin-top:20px;
    list-style:none;
    max-height:150px;
    overflow-y:auto;
}
